.hero{
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("image/\'image.banner.jpeg");
background-size:cover;
background-position:center;
color:white;
padding:180px 0;
text-align:center;
}